%h1
	Item
%p
	Group: #{@item.group.name}
%p
	Name: #{@item.name}

%p
	Description: #{@item.descr}
%p
	Price: #{@item.price}

%p
	Photos:
	%br
	- for photo in @item.photos
		= link_to image_tag(photo.img.url(:medium)), photo.img.url(:original)

%p
	Labels:
	%br
	- for label in @item.labels
		= label.name
		&nbsp;

%p
	= link_to 'Show All', admin_items_path
	|
	= link_to 'Add New', new_admin_item_path
	|
	= link_to 'Edit', edit_admin_item_path(@item)
	|
	= link_to 'Delete', [:admin, @item], :confirm => 'Delete it?', :method => :delete
