= form_for @label do |f|
	%div
		Group:
		%ul
			- Group.all.each do |grp|
				%li
					= f.radio_button :group_id, grp.id
					= f.label :group_id, grp.name, :value => grp.id

	%div
		= f.label :name
		= f.text_field :name
	%div
		/ = f.check_box :_destroy
		/ = f.label :_destroy, 'Delete'

	%p=f.submit 'Submit'