%ul
	%li
		= link_to('New', new_item_path)
		|
		= link_to('Items', items_path)
	%li
		= link_to('New', new_label_path)
		|
		= link_to('Labels', labels_path)
	%li
		= link_to('New', new_attr_type_path)
		|
		= link_to('Attribute Types', attr_types_path)