= form_for @item, :html => { :multipart => true } do |f|
	
	-# Groups
	%hr
	%p
		Group &nbsp;
		- Group.all.each do |grp|
			= f.radio_button :group_id, grp.id
			= f.label :group_id, grp.name, :value => grp.id
			&nbsp;&nbsp;
	
	%div
		= f.label :name
		= f.text_field :name
	%div
		= f.label :descr, 'Description'
		= f.text_area :descr, :rows => 4
	%div
		= f.label :price
		= f.text_field :price
	%br


	%hr
	-# Attributes
	%h3
		Attributes
	= f.fields_for :attrs do |sf|
		%p
			= sf.label "attr_type_id", "Type"
			= sf.select "attr_type_id", @attr_types_map
			= sf.label :detail
			= sf.text_field :detail

	%br
	%hr
	-# Photos
	%h3
		Photos
	= f.fields_for :photos do |sf|
		%p
			= sf.label :img, 'Image'
			= sf.file_field :img
			= sf.check_box :_destroy
			= sf.label :_destroy, 'Delete'

	%hr
	%h3
		Labels
	%p
		- @group_labels.each_with_index do |gl, i|
			- checkIt = @item_label_ids.include?(gl.id)
			=check_box_tag "curr_label_ids[#{gl.id}]", true, checkIt 
			=label_tag "curr_label_ids[#{gl.id}]", gl.name
			&nbsp;&nbsp;

		- @item_label_ids.each do |id|
			=hidden_field_tag "prev_label_ids[#{id}]", id

	%hr
	%p=f.submit 'Submit'