
= form_for @item, :html => { :multipart => true } do |f|
	
	-# Groups
	%hr
	%h3
		Group
	%p
		- Group.all.each do |grp|
			= f.radio_button :group_id, grp.id
			= f.label :group_id, grp.name, :value => grp.id
			&nbsp;&nbsp;
		= link_to 'refresh labels', refresh_group_labels_items_path(:group_id => ""), :remote => true, :id => 'refresh-labels-link'
	
	#ajaxmsg	

	%hr
	%h3
		Labels
	%p#group-labels
	/= render 'group_labels'

	%hr
	%h3
		Details
	%p
		= f.label :name
		= f.text_field :name
		&nbsp;&nbsp;
		= f.label :price
		= f.text_field :price
	%p
		= f.label :descr, 'Description'
		%br
		= f.text_area :descr, :rows => 4

	%hr
	-# Attributes
	%h3
		Attributes
	= f.fields_for :attrs do |sf|
		%p
			= sf.label "attr_type_id", "Type"
			= sf.select "attr_type_id", @attr_types_map
			= sf.label :detail
			= sf.text_field :detail

	%hr
	-# Photos
	%h3
		Photos
	= f.fields_for :photos do |sf|
		%p
			= sf.label :img, 'Add/Replace'
			= sf.file_field :img
			= image_tag(sf.object.img.url(:thumb))
			&nbsp;&nbsp;
			= sf.check_box :_destroy
			= sf.label :_destroy, 'Delete'


	%hr
	%p=f.submit 'Submit'