= form_for @item, :html => { :multipart => true } do |f|
	
	-# Groups
	%div
		Group
		%ul
			- @groups.each do |grp|
				%li
					= f.radio_button("group_id", grp.id)
					= f.label "group_id", grp.name
	%hr
	-# Item fields

	%div
		= f.label :name
		= f.text_field :name
	%div
		= f.label :descr, 'Description'
		= f.text_area :descr, :rows => 4
	%div
		= f.label :price
		= f.text_field :price
	%div

	%hr
	-# Attributes
	%h3
		Attributes
	= f.fields_for :attrs do |sf|
		%div
			= sf.label "attr_type_id", "Type"
			/= sf.range_field "attr_type_id", @attr_types
			= sf.label :detail
			= sf.text_field :detail

	%hr
	-# Photos
	%h3
		Photos
	= f.fields_for :photos do |sf|
		%div
			= sf.label :img, 'Image'
			= sf.file_field :img
			/ - unless 
			= sf.check_box :_destroy
			= sf.label :_destroy, 'Delete'

	%p=f.submit 'Submit'