%ul
	%li
		= link_to('New', new_admin_item_path)
		|
		= link_to('Items', admin_items_path)
	%li
		= link_to('New', new_admin_label_path)
		|
		= link_to('Labels', admin_labels_path)
	%li
		= link_to('New', new_admin_attr_type_path)
		|
		= link_to('Attribute Types', admin_attr_types_path)